.buttons{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  padding-top: 160px;
  justify-content: center;
}

.buttonContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit,250px);
  padding-right: 10px;
}


.pictureMainContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit,100px);
  padding-left: 300px;
  padding-top: 100px;
}
 .pictureMain{
   width: 60%;
   height: auto;
 }

 .titleMain{
   color: wheat;
   font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    padding-right: 80px;
    padding-top: 20px;
 }

.buttonsGame{
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.buttonGame{
  width: 95%;
  height: auto;
  cursor: pointer;
}

.buttonGame:hover{
  border-radius: 50%;
  box-shadow: 0px 3px 10px 7px rgba(0,0,0,0.75);
}
 
.imgInfo{
  margin-left: 200px;
}

.points{
  text-align: left;
}

.modal-body{
  background-image: url('./background.png');
}

.pointViewer{
  padding-top: 20px;
  color: #2874A6;
  font-size: xx-large;
  padding-bottom: 20px;
  border-bottom: #2874A6 solid 2px;
}

.pointCounter{
  color: black;
}

.buttonFight{
  display: grid;
    justify-content: right;
    padding-top: 15px;
}

.miniLogo{
  width: 20%;
  height: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.logoGame{
  width: 6%;
  height: auto;
  padding-top: 20px;
}

