.buttons{
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  padding-top: 100px;
  justify-content: center;
}

.buttonContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);
  padding-right: 10px;
}

.titleMain{
  font-family: fantasy;
  text-align: center;
  padding-right: 100px;
  padding-top: 20px;
  color: black;
  font-style: italic;
}

.buttonsGame{
  display: grid;
  grid-template-columns: repeat(auto-fit,160px);
  justify-content: center;
  padding-top: 100px;
}

.buttonGame{
  cursor: pointer;
}

.buttonGame:hover{
  width: 90%;
}

.modalConatiner{
    background-color: #fff;
    width: 40%;
  }
  
.imgInfo{
  padding-left: 60px;
}