.buttons{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  padding-top: 160px;
  justify-content: center;
}

.buttonContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit,250px);
  padding-right: 10px;
}


.titleMain{
  font-family: fantasy;
  text-align: center;
  padding-right: 100px;
  padding-top: 100px;
  color: #2874A6 ; 
  font-style: italic;
}

.buttonsGame{
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: center;
  border: black solid 0.5px;
  box-shadow: 9px 2px 3px 8px rgba(0,0,0,0.76);
  padding-top: 80px;
  padding-bottom: 80px;
}

.buttonGame{
  cursor: pointer;
}

.buttonGame:hover{
  width: 90%;
}

.modalConatiner{
    background-color: #fff;
    width: 40%;
    position: relative;
  }

  
.imgInfo{
  padding-left: 60px;
}

.points{
  display: grid;
  justify-content: center;
}

.pointViewer{
  padding-top: 50px;
  color: #2874A6;
}

.logo{
  font-family: fantasy;
  font-size: xx-large;
  color: black;
}

.buttonFight{
  display: grid;
    justify-content: right;
    padding-top: 15px;
}